<footer>
  <div class="navbar">
    <p>&copy; 2017 | WEB02 | TODOS OS DIREITOS RESERVADOS.</p>
    <p class="float-right">
      <a href="https://twitter.com/web02combr" target="_blank"><img src="{{ '/assets/img/twitter.png' | prepend: site.baseurl }}" alt="Twitter WEB02"></a>
      <a href="https://www.instagram.com/web02combr/" target="_blank"><img src="{{ '/assets/img/instagram.png' | prepend: site.baseurl }}" alt="Instagram WEB02"></a>
      <a href="https://github.com/web02combr" target="_blank"><img src="{{ '/assets/img/github.png' | prepend: site.baseurl }}" alt="GitHub WEB02"></a>
      <a href="https://www.linkedin.com/in/web02combr/" target="_blank"><img src="{{ '/assets/img/linkedin.png' | prepend: site.baseurl }}" alt="LinkedIn WEB02"></a>
    </p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ '/assets/js/jquery.min.js' | prepend: site.baseurl }}"><\/script>')</script>
<script src="{{ '/assets/js/popper.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/holder.min.js' | prepend: site.baseurl }}"></script>
<script>
  Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
  });
</script>