<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <img src="{{ '/assets/img/logo.png' | prepend: site.baseurl }}" alt="WEB02 Logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">PROJETOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contato">CONTATO</a>
        </li>
      </ul>
    </form>
  </div>
</nav>